---
// Frontmatter script space, where you can import components or write JavaScript
---

<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-gray-100">
    <header class="bg-white shadow">
      <nav
        class="container mx-auto px-6 py-3 flex justify-between items-center"
      >
        <a
          href="/dashboard"
          class="text-xl font-semibold text-gray-800"
          >Softball Stat Tracker</a
        >
        <div class="flex items-center">
          <a
            href="/profile"
            class="text-gray-800 text-sm mr-4 hover:underline"
            >Profile</a
          >
          <a
            href="/logout"
            class="text-gray-800 text-sm mr-4 hover:underline"
            >Logout</a
          >
          <button
            id="darkModeToggle"
            class="bg-gray-200 text-gray-800 px-3 py-1 rounded cursor-pointer"
            >Dark Mode</button
          >
        </div>
      </nav>
    </header>
    <main
      class="flex flex-col items-center justify-center min-h-screen"
    >
      <div class="w-full max-w-2xl p-8 bg-white rounded-lg shadow-md">
        <h1 class="mb-4 text-3xl font-bold text-center text-gray-800">
          Welcome, Jack. <!--TODO: Make name dynamic variable based on who is logged in -->
        </h1>
        <div class="mb-6 text-lg text-center text-gray-600">
          Your Dashboard
        </div>
        <div class="flex justify-between space-x-4">
          <a
            href="/coach-dashboard"
            class="inline-flex items-center justify-center w-1/2 h-32 px-4 py-2 text-xl font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700"
            >Coach Dashboard</a
          >
          <a
            href="/player-dashboard"
            class="inline-flex items-center justify-center w-1/2 h-32 px-4 py-2 text-xl font-bold text-white bg-green-500 rounded-md hover:bg-green-700"
            >Player Dashboard</a
          >
        </div>
      </div>
    </main>
    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');

        if (darkModeToggle) {
            darkModeToggle.addEventListener('click', () => {
                document.body.classList.toggle('dark');
                darkModeToggle.textContent = document.body.classList.contains('dark') ? 'Light Mode' : 'Dark Mode';
            });
        } else {
            console.error('Dark mode toggle button not found');
        }
    </script>

  </body>
</html>
