---
// Frontmatter script space, where you can import components or write JavaScript
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/login" />
  </head>
  <body>
    <p>Redirecting to login...</p>
  </body>
</html>
